# Fichiers de configuration
.env
.env.local
.env.production

# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Cache
.npm
.cache

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Production
dist/
build/
